<h2>Create New Product:</h2>
<form action="/api/products" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Name: </label>
    <input class="form-control" name="title" id="title" aria-describedby="title">
    <!--<div id="titleHelp" class="form-text">Name of the product</div>>-->
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price: </label>
    <input class="form-control" name="price" id="price" aria-describedby="price">
     <!--<div id="priceHelp" class="form-text">Price of the product</div>-->
  </div>
  <div class="mb-3">
    <label for="thumbnail" class="form-label">Thumbnail: </label>
    <input class="form-control" name="thumbnail" id="thumbnail" aria-describedby="thumbnail">
    <div id="thumbnailHelp" class="form-text">Url of the icon</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script></script>