extends layouts/main.pug
block content
    h2 My Products

    if foundProducts
        table.table.table-striped
            thead
                tr
                    th #
                    th Name
                    th Price
                    th Icon
            tbody
                each val in products
                    tr
                        td val.id
                        td val.title
                        td val.price
                        td 
                            img(src=val.thumbnail width=25 height=25)
    else
        div
            span.bg-warning.text-dark No hay productos en la lista.
